.nav {
    width: 75%;
}

.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}

a{
    text-decoration: none;
    color:white;
 }